.intro-image {
  width: 100%;
  height: auto;
  margin-top: -40px;
}
.intro-image-absolute {
  max-width: none;

  padding: 0;
  margin-bottom: 30px;
  @include media-breakpoint-up(sm) {
  }
  @include media-breakpoint-up(md) {
    position: absolute;
    bottom: 248px;
    left: -50px;
    width: 380px;
  }
  @include media-breakpoint-up(lg) {
    bottom: -63px;
    left: -12px;
    width: 528px;
  }
  @include media-breakpoint-up(xl) {
    bottom: -155px;
    left: 0px;
    width: 610px;
  }
}
.intro-image-hide-mobile {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}
